<html lang="en">
<head>
  <title>family </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <!-- Sidebar -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/members/">Family</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
            
              <li class="nav-item">
                <a class="nav-link" href="/members/read-csv/">SECURITY-REPORT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/gallery/">Unrecognized Faces</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/gallery/upload/">Upload image</a>
              </li>
              {% comment %} <li class="nav-item">
                <a class="nav-link" href="/members/read-csv/">Detect</a>
              </li>  {% endcomment %}
              <li class="nav-item">
                <a class="nav-link" href="/members/camera-feed/">Open camera</a>
              </li> 
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="text" placeholder="Search">
              <button class="btn btn-primary" type="button">Search</button>
            </form>
          </div>
        </div>
      </nav> 
      <div class="container mt-3">
        {% comment %} <h2>Example of Jumbotron</h2> {% endcomment %}
        <div class="row">
        </div>
        <div class="mt-4 p-5 bg-warning text-primary rounded">
        <h1>  Dashboard</h1> 
          {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>  {% endcomment %}
        </div>
        <div class="row">
 
        
      
                <!--tips: use row-cols-md-(X) to control how many of columns to show per row-->
                <!--tips: when you need equal height, add .h-100 to the cards-->
                <!--Card1-->
                <div class="col mb-4 mt-2">
                    <div class="card card-btn-primary accordion-body">
                        <img src="..." class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">DETECTED Family Member</h5>
                            <p class="card-text"></p>

                               
                            {% comment %} <video id="camera-feed" autoplay></video> {% endcomment %}
                        
                                
                              
                                <!--Card2-->
              
                <!--Card3-->
             
                <!--Card4-->
                <div class="row mb-4">
                    <div class="card">
                        {% comment %} <img src="..." class="card-img-top" alt="..."> {% endcomment %}
                        <div class="card-body">
                            {% comment %} {% extends "base.html" %} {% endcomment %}
                            {% block content %}
                         
                        {% comment %} {% block content %} {% endcomment %}
                        {% comment %} <h1>CSV Data</h1> {% endcomment %}
                        <table id="example" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Family Member</th>
                                    <th>recognition_time</th>
                                    <th>location</th>
                                    <th>city</th>
                                    <th>Region</th>
                                    
                                    <th>country</th>
                                                                       <th>Cordnates</th>
                                                                    
                                    <!-- Add more headers for your CSV columns -->
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in csv_data %}
                                    <tr>
                                    
                                   
                                        
                                        <td>{{ row.0 }}</td>
                                        <td>{{ row.2 }}</td>
                                       
                                        <td>{{ row.3 }}</td>
                                        <td>{{ row.4 }}</td>
                                        <td>{{ row.5 }}</td>
                                        <td>{{ row.6 }},
                                        </td>
                                        <td>
                                            {% comment %} <img src="{{ row.0 }} '.jpg '" alt="Image" /> {% endcomment %}
                                            {{ row.7 }},
                                            {{ row.8 }}
                                        <img src="../member_profiles/{% row.0 % }" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
                                    </td>
                                        <!-- Add more cells for each column -->
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endblock %}
            

                        </div>
                    </div>
                </div>
            </div>
            
         
                       </div>  
    </div>
    </div>
</div>    </div>
</div>



    <footer class="bg-dark text-white text-center py-3">
        &copy; VRT
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        });
    </script>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
