<html lang="en">
<head>
  <title>fAMILY</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    .card {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        width: 300px;
        display: inline-block;
    }
    .card img {
        max-width: 100%;
    }
    #imageContainer {
        display: flex;
        flex-wrap: wrap;
    }
    img {
        max-width: 200px;
        max-height: 200px;
        margin: 5px;
    }
</style>
</head>
<body>
    <!-- Sidebar -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="javascript:void(0)">CF</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/members/read-csv/">SECURITY-REPORT</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/gallery/">Unrecognized Faces</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/gallery/upload/">Upload image</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/members/read-csv/">Detect</a>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link" href="/members/camera-feed/">Open camera</a>
                  </li> 
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="text" placeholder="Search">
              <button class="btn btn-primary" type="button">Search</button>
            </form>
          </div>
        </div>
      </nav> 
      <div class="container mt-2">
        <div class="mt-4 p-5 bg-warning text-primary rounded">
        <h1>  Dashboard</h1> 
        </div>
        <div class="container">

            <h1>Face Not Recognized</h1>
       
                {% for image in images %} 
                <div class="card" style="width:200px;height:255px">
                     <img src="{{ image.image.url }}" class="img-fluid col-4${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="{{ image.title }}">
                    </div>
                {% endfor %}
          
        </div>
        </div>   
        
    </div>
</div>
</div>
</div>


   </div>  
</div>
</div>
</div>   

    <footer class="bg-dark text-white text-center py-3">
        &copy; VRT
    </footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable();
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
