<html lang="en">
<head>
  <title>fAMILY</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    .card {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        width: 300px;
        display: inline-block;
    }
    .card img {
        max-width: 100%;
    }
    #imageContainer {
        display: flex;
        flex-wrap: wrap;
    }
    img {
        max-width: 200px;
        max-height: 200px;
        margin: 5px;
    }
</style>
</head>

<body>
    <!-- Sidebar -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="javascript:void(0)">CF</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/members/read-csv/">SECURITY-REPORT</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/gallery/">Unrecognized Faces</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/gallery/upload/">Upload image</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/members/read-csv/">Detect</a>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link" href="/members/camera-feed/">Open camera</a>
                  </li> 
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="text" placeholder="Search">
              <button class="btn btn-primary" type="button">Search</button>
            </form>
          </div>
        </div>
      </nav> 
      <div class="container mt-3">
        {% comment %} <h2>Example of Jumbotron</h2> {% endcomment %}
        <div class="mt-4 p-5 bg-warning text-primary rounded">
        <h1>  Dashboard</h1> 
          {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>  {% endcomment %}
        </div>
        <div class="row m-1">
            {% comment %} <div class="card col-sm-10"> {% endcomment %}
                {% comment %} <img src="..." class="card-img-top" alt="..."> {% endcomment %}
                <div class="card-body ">
    <h1>Upload Image</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
</div>
</div>

</body>
</html>
